body {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(229 250 255);
    border-radius: 10px;
    box-shadow: inset 0 0 13px rgb(0 91 255);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    /* or add it to the track */
}

a {
    text-decoration: none !important;
}

.font-male-female {
    color: white;
    font-size: 22px
}

#search-result-ajax {
    padding: 2px;
}

.results_ajax {
    font-size: 14px !important;
    border-bottom: none;
    border: 2px solid lightblue;
}

input[type=radio] {
    border: 0px;
    height: 2em;
    width: 20px;
    margin-left: 10px;
}

.message-section {
    height: fit-content;
    border: solid 2px #ffffff;
    border-radius: 8px;
    box-shadow: 12px 12px 2px 1px rgba(115, 115, 117, 0.2);
    opacity: 0.9;
    color: white;
}

.bg-welcome {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/bg-conversation.png");
    height: calc(100vh - 82px);
}

.bg-login {
    height: 100vh;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: radial-gradient(ellipse at center, #0264d6 1%, #1c2b5a 100%);
}

.bg-blue {
    background-color: #3490dc;
}

.bg-purple {
    background-color: rgba(109, 40, 217);
}

.bg-person-invited {
    background-color: #2f7093;
}

.bg-admin-group {
    background-color: #6a94dd !important;
}

.click-here {
    color: rgba(196, 181, 253);
}

.click-here:hover {
    color: #fff;
    background-color: rgba(109, 40, 217);
    border-radius: 0.25rem;
}

.size-checkbox {
    height: 20px;
    width: 20px;
}

.h-screen {
    height: 100vh;
}

.centered-login {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.width-register {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border: 1px solid white;
    padding: 40px;
    border-radius: 8px;
}

.icon-login {
    border-radius: 0.25rem;
    padding: 0.8rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #fff;
}

.form-border {
    padding-right: 2rem;
    border-right: 2px solid #fff;
}

.chat-user-list {
    list-style: none;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(201 218 236);
}

.chat-user-list:hover {
    background-color: rgb(64, 114, 231);
}

.chat-user-list:hover>.chat-name {
    color: white !important;
}

.chat-header-name {
    font-size: 25px;
    font-weight: bold;
}

.chat-group-list {
    list-style: none;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 172, 172);
    border-radius: 10px;
    color: white;
    border: 1px solid #8c8c8c;
}

.chat-name {
    font-size: 17px;
    font-weight: bolder;
}

.chat-group-name {
    font-size: 17px;
    font-weight: bolder;
    margin-left: 10px;
}

.chat-group-list:hover {
    background-color: rgb(238, 96, 96);
}

.name-image {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-image img {
    width: 68px;
    border-radius: 50px;
    border: 3px solid #fff;
}

.name-image-navbar {
    color: white;
}

.image-chat img {
    width: 49px;
    border-radius: 50px;
    border: 3px solid rgb(114, 113, 113);
}

.name-image-navbar img {
    width: 50px;
    border-radius: 50px;
    border: 3px solid #fff;
}

.name-group-image img {
    width: 41px;
    border-radius: 50px;
    border: 3px solid #fff;
}

.chat-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.chat-group-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.users {
    height: 418px;
    overflow: auto;
    padding: 5px;
    width: 280px;
}

.user-status-icon {
    position: absolute;
    top: 34px;
    right: -9px;
    color: #abacaa;
    z-index: 2;
}

.user-group-status-icon {
    position: absolute;
    top: 1px;
    right: 2px;
    color: #abacaa;
    z-index: 2;
}

input[type="file"] {
    display: none;
}

.online {
    color: greenyellow;
}

.active {
    background-color: rgb(41 116 221);
}

.active-group {
    background-color: rgb(238, 96, 96);
}

.icon-audio {
    width: 40px;
    height: auto;
    margin-left: 6px;
    cursor: pointer;
}

.img-conversation {
    width: 40px;
    height: auto;
}

#ErrorTag img {
    width: 35px;
    height: auto;
    cursor: pointer;
}

.blue-hover-style {
    background-color: #2643ec;
}

.arrow-back {
    width: 25px;
    height: auto;
}

.btn-loupe {
    border-radius: 0 8px 8px 0;
    border-left: none;
    border: 1px solid rgb(148, 143, 143);
}

.btn-loupe img {
    width: 33px;
    height: auto;
    border: none;
}

.attach-photo {
    cursor: pointer;
    font-size: 15px;
    margin: 0;
}

.img-attach {
    width: 33px !important;
    height: auto;
    padding: 2px;
}

.div-send-photos {
    padding: 0 7px;
    border-radius: 5px;
    margin: 10px 0;
    margin-right: 8px;
}

.image-send-btn {
    border: none;
    padding: 2px 7px;
    border-radius: 5px;
    mar
}

.input-search-user {
    border-radius: 8px;
    border: 2px solid rgb(34 167 239);
    padding: 6px;
    outline: none;
    *
}

.chat-section {
    border: solid 1px lightgray;
    background: #fff;
    padding-bottom: 15px;
}

.chat-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.chat-group-header {
    padding-bottom: 15px;
}

.chat-body {
    height: calc(50vh);
    position: relative;
    overflow: auto;
    border: solid 2px #e2e2e2;
    border-radius: 8px 8px 0px 0px;
    padding: 10px;
    border-bottom-color: #0aa4f3;
}

.message-text {
    margin-left: 54px;
    margin-top: -10px;
    margin-bottom: 20px;
}

#send-btn {
    border: none;
    background-color: #fff;
}

#chatInput {
    border: 1px solid #bb9f9f;
    border-radius: 20px;
    height: 80px;
    outline: none;
    padding: 10px;
    overflow: auto;
}

.chat-input-toolbar {
    padding: 5px 0;
}

.add-user-group {
    cursor: pointer;
    background-color: rgb(238, 96, 96);
}

.add-user-group:hover>i {
    color: #ffffff !important;
}

.w-max-content {
    width: max-content;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    outline: none !important;
}

.icon-profile {
    width: 40px;
    height: auto;
    margin-right: 11px;
}

#writing {
    overflow: auto;
    border: 2px solid #0aa4f3;
    flex-wrap: wrap;
    height: 33px;
    border-radius: 0 0 8px 8px;
    border-top: none;
    height: 45px;
    padding: 3px;
    background-color: #f7f7f7;
}

.is-writing {
    background-color: #4d85f7;
    color: white;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px;
}

.writing-gif {
    height: 10px;
}

#bold,
#italic,
#underline {
    padding: 2px 11px !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 4px;
}

.div-image-preview {
    position: relative;
    padding-bottom: 12px;
}

.img-preview {
    width: 57px;
    height: auto;
    margin-right: 10px;
    border: 1px dashed lightgray;
    padding: 2px;
    position: relative;
}

.cross-image-preview {
    width: 20px;
    height: auto;
    position: absolute;
    top: -5px;
    right: 1px;
    cursor: pointer;
    z-index: 2;
}

.img-style-append {
    width: 100px !important;
    height: auto;
    border: 1px dashed lightgrey !important;
    padding: 5px !important;
    cursor: pointer !important;
    margin-bottom: 20px;
}

.img-upload-arrow {
    width: 35px;
    height: auto;
    margin-left: 6px;
}

.label-upload {
    padding: 20px;
    background-color: #208ad0;
    border: 2px solid white;
}

.modal-content {
    position: relative;
    border: solid 3px white;
}

.modal_cross_absolute {
    position: absolute;
    top: 9px;
    right: 7px;
}

.modal_cross_image_width {
    width: 50px;
    height: auto;
    cursor: pointer;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1480px) {
    .chat-user-list .name-image img {
        width: 52px;
        border-radius: 50px;
        border: 3px solid #fff;
    }
    .chat-user-list .user-status-icon {
        position: absolute;
        top: 34px;
        right: -5px;
        z-index: 2;
    }
}

@media screen and (max-width: 945px) {
    .responsive-users {
        display: block !important;
    }
    .users {
        width: 100%;
    }
    .chat-section {
        margin: 0 !important;
        padding: 0;
    }
    .add-user-group {
        margin-bottom: 20px !important;
    }
    .bg-welcome {
        height: auto;
    }
}

@media screen and (max-width: 787px) {
    #navbarDropdown {
        margin-top: 10px;
    }
}