body {
    font-size: 18px;
}

.chat-row {
    margin: 50px;
}

.chat-user-list {
    list-style: none;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(233 233 233);
}

.name-image {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.user-status-icon {
    position: absolute;
    top: -1px;
    right: -2px;
    color: #abacaa;
}

.active {
    background-color: rgb(24 217 170);
}